.forgotPassword {
    width: 450px;
    height: 600px;
    background-color: yellow;
    border-radius: 30px;
}

/* ::placeholder {
    color: 808080;
    padding-left: 20px;
  } */

.forgotPasswordone {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.forgotPasswordone p {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #808080;
}

.forgotPasswordtwo {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordtwo p {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #000000;
}

.forgotPasswordthree {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.forgotPasswordthreeOne {
    width: 350px;
    height: 80px;
}

.forgotPasswordthreeOne p {
    width: 150px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #000000;
    padding-left: 20px;
    padding-bottom: 5px;
}

.forgotPasswordthreeOne input {
    width: 326px;
    height: 46px;
    border: solid 2px #808080;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #000000;
}

.forgotPasswordfour {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.forgotPasswordfourOne {
    width: 350px;
    height: 80px;
}

.forgotPasswordfourTwo {
    display: flex;
    justify-content: space-between;
}

.forgotPasswordfourTwo p {
    width: 150px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto';
    padding-left: 20px;
    padding-bottom: 5px;
}

.forgotPasswordfourTwo a {
    width: 175px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #000000;
    padding-bottom: 5px;
}

.forgotPasswordfourOne input {
    width: 326px;
    height: 46px;
    border: solid 2px #808080;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #000000;
}

.forgotPasswordfive {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.forgotPasswordfive button {
    width: 350px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #FFFFFF;
    border-radius: 30px;
    background-color: #2767D4;
}

.forgotPasswordsix {
    width: 100%;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #808080;
    padding-top: 20px;
}


.forgotPasswordseven {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.forgotPasswordsevenOne {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordseven button {
    width: 350px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto';
    border-radius: 30px;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordsevenOne img {
    width: 32px;
    height: 32px;
}

.forgotPasswordseven button span {
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
}

.forgotPasswordeight {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.forgotPasswordeightOne {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordeight button {
    width: 350px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto';
    border-radius: 30px;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordeightOne img {
    width: 32px;
    height: 32px;
}

.forgotPasswordeight button span {
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
}

.forgotPasswordnine {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.forgotPasswordnine p {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #808080;
    /* padding-left: 51px; */
}

.forgotPasswordnine a {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #42B72A;
    /* padding-left: 50px; */
}



